@import "./../../scss/_variables.scss";



.slider {
    font-family: 'Ubuntu', sans-serif;
    color: $white;
    position: relative;

    &__slide {
        height: 660px;
        padding-top: 130px;
        box-sizing: border-box;
        background-position: center;
        background-size: cover;
    }

    &__text {
        padding: 0 120px;
        font-size: 20px;
        line-height: 1.5;

        &_big {
            font-size: 50px;
            font-weight: 700;
            padding-bottom: 35px;
            line-height: 1.1;
        }
    }

    &__arrow {
        border-left: 2px solid $white;
        border-top: 2px solid $white;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        background-color: transparent;
        height: 25px;
        width: 25px;
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -12px;
        cursor: pointer;
        transition: 0.3s;
        outline: none;

        &_left {
            transform: rotate(-45deg);
            left: 0;
        }

        &_right {
            transform: rotate(135deg);
            right: 0;
        }

        &:hover {
            border-left: 2px solid $blue-light;
            border-top: 2px solid $blue-light;
        }
    }

    &__container {
        position: relative;
    }

    &__button {
        margin: 50px 120px 0 120px;
    }
}

@media (max-width: $tablet-point) {
    .slider {
        &__slide {
            padding-top: 150px;
        }

        &__arrow {
            &_left {
                left: 20px;
            }

            &_right {
                right: 20px;
            }
        }

        &__text {
            font-size: 18px;

            &_big {
                font-size: 40px;
            }
        }
    }
}

@media (max-width: $mobile-point) {
    .slider {
        &__slide {
            padding-top: 100px;
            height: 600px;
        }

        &__text {
            padding: 0 40px;

            &_big {
                font-size: 28px;
                padding-bottom: 20px;
            }
        }

        &__button {
            margin: 40px 40px 0 40px;
        }
    }
}

@media (max-width: $small-mobile-point) {
    .slider {
        &__text {
            font-size: 16px;

            &_big {
                font-size: 22px;
            }
        }
    }
}
