@import "./../../scss/_variables.scss";


.top-menu {
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu-button {
        display: none;
    }

    svg {
        height: 15px;
        width: 15px;
        transform: rotate(90deg);
        margin-right: 5px;
        position: absolute;
        left: -25px;
        top: -1px;
    }

    .svg-sound {
        fill: $white;
    }

    &__link {
        color: $white;
        text-decoration: none;
        position: relative;
        display: inline-block;

        @include link-decoration ($white, 1px, 3px, -10px, 5px, 0.3s);
    }

    &__element {
        position: relative;

        &_svg {
            margin-left: 25px;
        }
    }

    &__menu-button {
        display: none;
        width: 40px;
        background-color: $white;
        border: 1px solid $blue;
        padding: 8px;
        box-sizing: border-box;
        border-radius: 3px;
        outline: none;
        display: inline-block;
        transition: 0.2s;
        vertical-align: middle;

        &_active {
            background-color: $blue;

            .top-menu__line {
                background-color: $white;
            }

            .top-menu__line:nth-child(1){
            	transform: translate(0, 7px) rotate(-45deg) scalex(1.5);
            }

            .top-menu__line:nth-child(2){
            	opacity: 0;
            }

            .top-menu__line:nth-child(3){
                transform: translate(0, -7px) rotate(45deg) scalex(1.5);
            }
        }
    }

    &__line {
        height: 2px;
        width: 100%;
        background-color: $blue;
        display: block;
        transition: 0.2s;

        & + .top-menu__line {
            margin-top: 5px;
        }
    }
}

@media (max-width: $mobile-point) {
    .top-menu {
        display: none;
        width: 100%;
        min-width: 100%;
        text-align: center;
        background-color: $white;
        margin-top: 10px;
        border-radius: 4px;

        svg {
            display: none;
        }

        &__element {
            &_svg {
                margin-left: 0;
            }
        }

        &__menu-button {
            display: inline-block;
        }

        &__link {
            display: block;
            padding: 10px 0;
            color: $blue;
        }
    }
}
