@import "./../../scss/_variables.scss";
@import "./../../modules/category-preview/_category-preview.scss";

.catalog-categories {
    &__preview {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        line-height: 1.6;

        p {
            padding-bottom: 25px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        border-left: 2px solid $white;
    }
}
