$small-mobile-point: 374px;
$mobile-point: 767px;
$tablet-point: 991px;
$small-device-point: 1160px;
$big-device-point: 1400px;

$container-big: 1200px;
$container: 1140px;
$container-small: 992px;
$container-table: 768px;




$white: #ffffff;
$black: #1e2025;
$black-dark: #000000;
$blue: #344a7b;
$blue1: #3458a2;
$blue-light: #306ce2;
$blue-dark: #8592b0;
$gray: #d6d6d6;
$gray-dark: #888a8c;
$blue-white: #d6e2ff;


$facebook: #3b5998;
$vk: #45668e;
$instagram: #e1306c;
$youtube: #cd201f;
