.page-inner {
    background-size: cover;
    background-position: center;
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Ubuntu';
    padding-bottom: 30px;
    background: linear-gradient(to top, rgba($blue-white, 0.3), $blue-white);
    position: relative;
    background-position: center top;

    &_contacts {
        background-image: url('./../images/contacts-back.jpg');
        background-size: cover;
    }

    &_product {
        background-image: url('./../images/product-back.jpg');
        background-size: 100% auto;

        &:before {
            content: '';
            background: linear-gradient(to top, rgba($blue-white, 0.3), rgba($blue-white, 0.8));
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .container, .advantages {
            position: relative;
        }
    }

    &_catalog {
        background-image: url('./../images/catalog-back.jpg');
        background-size: cover;
    }

    &__wrap {
        display: flex;
        position: relative;
    }

    &__left {
        width: 25%;
        min-width: 25%;
        margin-right: 3%;
    }

    &__right {
        width: 72%;
        min-width: 72%;

        a {
            color: $blue-light;
            transition: 0.4s;
            text-decoration: none;
            font-weight: 500;

            &:hover {
                color: $black;
            }
        }

        img {
            max-width: 100%;
        }
    }

    &__two-block {
        display: flex;
        align-items: stretch;
        padding-bottom: 30px;
    }

    &__two-block-single {
        width: 50%;
        min-width: 50%;
        box-sizing: border-box;

        & + .page-inner__two-block-single {
            padding-left: 40px;
        }

        &_line {
            border-right: 1px solid $blue-light;
            padding-right: 15px;
        }
    }

    &__history-block {
        display: flex;

        & > p:first-child {
            margin-right: 15px;
        }
    }
}

@media (max-width: $tablet-point) {
    .page-inner {
        &__wrap {
            flex-wrap: wrap;
        }

        &__left {
            width: 100%;
            min-width: 100%;
            margin-bottom: 30px;
        }

        &__right {
            width: 100%;
            min-width: 100%;
        }
    }
}

@media (max-width: $mobile-point) {
    .page-inner {
        padding-top: 40px;

        &__two-block-single {
            min-width: 100%;
            width: 100%;

            &_line {
                border-right: none;
            }

            & + .page-inner__two-block-single {
                padding-left: 0;
                margin-top: 20px;
            }
        }

        &__two-block {
            flex-wrap: wrap;
        }
    }
}
