.filter-params {
    &__title {
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 5px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__param-title {
        font-weight: 500;
        font-size: 15px;
        padding-bottom: 5px;
    }

    &__param {
        min-width: 31%;
        width: 31%;
    }

    &__field {
        position: relative;
    }

    &__list {
        padding-bottom: 20px;
    }

    &__buttons {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: $small-device-point) {
    .filter-params {
        &__param-title {
            font-size: 13px;
        }

        &__param {
            min-width: 32%;
            width: 32%;
        }
    }
}

@media (max-width: $mobile-point) {
    .filter-params {
        &__list {
            flex-wrap: wrap;
        }

        &__param {
            min-width: 48%;
            width: 48%;
            margin-bottom: 5px;
        }

        &__buttons {
            width: 100%;
        }
    }
}
